$light-green-color: #6BBA6B;

$header-height: 65px;

$letter-correct-bg-color: #548E4E;
$letter-approximately-bg-color: #B59F3B;
$letter-wrong-bg-color: #3A3A3C;

$keyboard-default-bg-color: #818384;

$border-active-color: #565758;

$dark-mode-bg-color: #121213;
$dark-mode-text-color: #ffffff;

$light-mode-bg-color: #ffffff;
$light-mode-text-color: #000000;